{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feedbacks list</h1>

    <table>
        <thead>
            <tr>
                <th>Feedbackrating</th>
                <th>Feedbacktitle</th>
                <th>Feedbackcomments</th>
                <th>Feedbackdate</th>
                <th>Idfeedback</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedbacks %}
            <tr>
                <td><a href="{{ path('feedback_show', { 'idFeedback': feedback.idFeedback }) }}">{{ feedback.feedbackRating }}</a></td>
                <td>{{ feedback.feedbackTitle }}</td>
                <td>{{ feedback.feedbackComments }}</td>
                <td>{{ feedback.feedbackDate|date('d-m-Y') }}</td>
                <td>{{ feedback.idFeedback }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('feedback_show', { 'idFeedback': feedback.idFeedback }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('feedback_edit', { 'idFeedback': feedback.idFeedback }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('feedback_new') }}">Create a new feedback</a>
        </li>
    </ul>
{% endblock %}
